.App-logo {
  display: block;
  max-width: 225px;
  margin: auto;

}

.Container {
margin: auto;
width: 768px;
color: #424242;
}

header {
  padding-bottom: 30px;
}

h1 {
  text-align: center;
}


footer {
  text-align: center;
  font-size: 12px;
margin-top: 30px;
}


footer a {
    color:#F68D8C
  }

footer a:hover{
    color:goldenrod;
    text-decoration: none;
  }
