.suggestion {
    text-align: center;
    font-size: 11px;
}

section {
    background: rgb(198,157,109, 0.15);
    padding: 20px;
    border-radius: 2px;
    box-shadow: 4px 4px 12px rgba(122, 121, 121, 0.2);
    margin: 20px 0px;
}

form {
    text-align: center;
    margin-bottom: 5px;;

}

input {
    width: 300px;
}

h2{
    text-align: center;
}

